<!-- this is the same as index.hbs in pupparazzi-->

<div class="container">
  {{#each the_things_in_the_JSON_file}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
