<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/creature.css">
  <title>Creature</title>
</head>
<body>
  <img src = '{{image}}'/>
  <div> <h1>{{name}}</h1></div>
  <div>
    <ul>
      <li><strong>Pairing: </strong> {{pairing}}</li>
      <li><strong>Blurb: </strong> {{blurb}}</li>
    </ul>
  </div>
</body>
</html>