<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/creature.css">
  <title>Creature</title>
</head>
<body>
  <div class="container">
    <div class="intro">
    <h1>The Gods have sent forth...</h1>
    </div>
  <img src = '{{image}}'/>
 
  <div class='info'> 
    <h1>{{name}}</h1>
    <ul class="details">
      <li><strong>Pairing: </strong> {{pairing}}</li>
      <br>
      <li><strong>Blurb: </strong> {{blurb}}</li>
    </ul>
  </div>
  </div>
  
</body>
</html>