<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/creature.css">
  <title>Creature</title>
</head>
<body>
  <img src = '{{image}}'/>
  <div> <h3>{{name}}</h3></div>
  <div>
    <ul>
      <li>Pairing: {{pairing}}</li>
      <li>Blurb: {{blurb}}</li>
    </ul>
  </div>
</body>
</html>