
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/doom.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Cinzel?selection.family=Cinzel" type="text/css">
  <title>Doom</title>
</head>
<body>
  <div class= 'container'>
    <div class='blurb'>
     The mountain gods are tempestuous. The world is coming to an end and there's only one way to save it! Restore peace and calm by sacrificing two animals to create a super-animal to save the world.
     <p>Are you ready to play god and create a new creature?</p> 
    </div>
    <button class = 'sacrificeButton' onclick="location.href='/sacrifice';" >
      Start Sacrifice
    </button>
  </div>
 
</body>
</html>
