
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/doom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doom</title>
</head>
<body>
  <div class= 'container'>
    <div class='blurb'>
      The mountain gods are tempestuous. The world is coming to an end and there's only one way to save it! Restore peace and calm by sacrificing two animals to create a super-animal to save the world. Are you ready to play god and create a new creature?
    </div>
    <button class = 'sacrificeButton' onclick="location.href='/sacrifice';" >
      Start Sacrifice
    </button>
  </div>
 
</body>
</html>
