<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Cinzel?selection.family=Cinzel" type="text/css">
  <link rel="stylesheet" href="../sacrifice.css">
  <title>Chimera's Champions</title>
</head>
<body>
  
  
  <form method="POST" action="/creature">
  <div class="pagecontainer">
   
   <div class="rowcontainer">
     
      <div class="itemcontainer">
       <label>
       <input type="checkbox" id="bird" name="Bird">
       <img src="/animals/bird.png" height="200" width="200"></label>
      </div>

      <div class="itemcontainer" id='topMiddle'>
      <p></p>
      </div> 
      
      <div class="itemcontainer">
        <label>
        <input type="checkbox" id="turtle" name="Turtle">
        <img src="/animals/turtle.png" height="200" width="200">
      </label>
      </div>

    </div>



  <div class="rowcontainer">

    <div class="itemcontainer">
      <label>
      <input type="checkbox" id="horse" name="Horse">
      <img src="/animals/horse.png" height="200" width="200">
      </label>
    </div>  

    <div class="itemcontainer" id="textbox">
      <p>Select <strong>2</strong> creatures to throw into the volcano to sacrifice!</p>
    </div>
   
   <div class="itemcontainer">
      <label>
      <input type="checkbox" id="human" name="Human">
      <img src="/animals/human.png" height="200" width="200">
      </label>
    </div>

  </div>

  <div class="rowcontainer"> 

    <div class="itemcontainer">
      <label>
      <input type="checkbox" id="tiger" name="Tiger">
      <img src="/animals/tiger.png" height="200" width="200">
      </label>
    </div>

    <div class="itemcontainer">
      <button class = 'sacrificeButton' onclick="location.href='/sacrifice';" >
      Sacrifice
      </button>
    </div>

    <div class="itemcontainer">
      <label>
      <input type="checkbox" id="snake" name="Snake">
      <img src="/animals/snake.png" height="200" width="200">
      </label>
    </div>
  </div>

  </form>
</body>
</html>