 body {
   width: 100%;
   height: 100vh;
   background: url('/backgroundimages/mountdoom.jpg'); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-size: 1.2em;
   color: white;
 } 
  
.container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurb{
  text-align: center;
  width:30%;
}

button{
  width: 100px; 
  color: white;
  border-color: white;
  background-color: transparent;
  margin: 20px;
}