body {
    background: url(https://data.whicdn.com/images/225375194/original.gif) no-repeat center center fixed;
    background-size: cover;
    back
    font-family: 'Spirax', cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

