body {
    background: url(https://data.whicdn.com/images/225375194/original.gif) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cinzel';
    font-size: 2.5em;
    
}

.pagecontainer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

.rowcontainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemcontainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

#textbox {
    display: flex;
    max-width: 20%;
    color: white;
    text-align: center;
    
}

#topMiddle{
    padding: 70px;
}


.sacrificeButton{
    display: flex;
    text-align: center;
    color: white;
    background-color: transparent;
    height: 50px;
    font-size: 40px;
    border-color: white;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + img {
    background: none;
    padding: 10px;
}

input[type=checkbox]:checked + img {
    background: rgb(241, 173, 47);
    padding: 10px;
    border-radius: 50%;
} 